@keyframes zoom {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes spreadCircle {
    0% {
        transform: rotate(-25deg)
    }

    to {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }
}

.btn-group-container {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 999;

    .fcta-zalo-wrapper {
    
        .fcta-zalo-bg {
            width: 44px;
            height: 44px;
            text-align: center;
            color: #fff;
            background: #0A7CFF;
            border-radius: 50%;
            position: relative;
            box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
    
            &::after,
            &::before {
                content: "";
                position: absolute;
                border: 1px solid #0A7CFF;
                background: #0A7CFF80;
                z-index: -1;
                left: -10px;
                right: -10px;
                top: -10px;
                bottom: -10px;
                border-radius: 50%;
                animation: zoom 1.9s linear infinite;
            }
    
            &::after {
                animation-delay: .4s;
            }
    
            .fcta-zalo-text {
                opacity: 0;
                position: absolute;
                top: 6px;
                text-transform: uppercase;
                font-size: 0.75rem;
                font-weight: 700;
                transform: scaleX(-1);
                transition: all .5s;
                line-height: 1.5;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
    
    
            &.hover-effect:hover {
                .fcta-zalo-inner {
                    opacity: 0;
                }
                i {
                    transform: scale(.5);
                    transition: all .5s ease-in
                }
    
                .fcta-zalo-text {
                    transform: scaleX(1);
                    opacity: 1
                }
            }
    
        }
    
        .fcta-zalo-inner {
            position: absolute;
            text-align: center;
            width: 60%;
            height: 60%;
            left: 9px;
            bottom: 27px;
            line-height: 70px;
            font-size: 25px;
            opacity: 1;
            transition: all 1s;
    
    
            svg path {
                fill: #fff;
            }
    
            i {
                transition: all 1s;
                animation: spreadCircle 1s linear infinite;
            }
        }
    
    }
    .fcta-zalo-mess {
        position: fixed;
        bottom: 29px;
        right: 58px;
        z-index: 99;
        background: #fff;
        padding: 7px 25px 7px 15px;
        color: #0A7CFF;
        border-radius: 50px 0 0 50px;
        font-weight: 700;
        font-size: 15px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
        span {
            color: #0A7CFF !important;
        }
    }

    .phone-wrapper {

        .phone-bg {
            width: 44px;
            height: 44px;
            text-align: center;
            color: #fff;
            background: #0A7CFF;
            border-radius: 50%;
            position: relative;
            // box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
    
            // &::after,
            // &::before {
            //     content: "";
            //     position: absolute;
            //     border: 1px solid var(--primary-color);
            //     background: #00a1e480;
            //     z-index: -1;
            //     left: -7px;
            //     right: -7px;
            //     top: -7px;
            //     bottom: -7px;
            //     border-radius: 50%;
            //     animation: zoom 1.9s linear infinite;
            // }
    
            // &::after {
            //     animation-delay: .4s;
            // }           
    
        }
    
        .phone-inner {
            position: absolute;
            text-align: center;
            width: 60%;
            height: 60%;
            left: 9px;
            bottom: 26px;
            line-height: 70px;
            font-size: 25px;
            opacity: 1;
            transition: all 1s;
    
            svg path {
                fill: #fff;
            }
        }
    
    }

}
