<div class="page-card card animation-duration-500 fadein"
    [spinner]="tableLoading.value">
    <p-table
        scrollHeight="flex"
        [scrollable]="true"
        [value]="listExercises"

        selectionMode="single"
        [(selection)]="selectedExercise"

        dataKey="id"
        [lazy]="true"
        (onLazyLoad)="loadList($event)"

        [paginator]="true"
        [totalRecords]="totalRecords"

        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center">
                <h5 class="mb-0">
                    Danh sách bài tập
                </h5>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Tìm kiếm"
                        [(ngModel)]="searchValue"
                        (keydown.enter)="onSearch()" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 10rem">Mã bài tập</th>
                <th>Tiêu đề</th>
                <th>Mô tả</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr [pSelectableRow]="item" (dblclick)="onRowDoubleClick(item)">
                <td>{{ item.getFormattedValue('code') }}</td>
                <td>{{ item.getFormattedValue('name') }}</td>
                <td>{{ item.getFormattedValue('description') }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button"
                icon="pi pi-plus"
                label="{{ 'common.create' | translate }}"
                (onClick)="showModalCreate()">
            </p-button>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" class="border-none bg-white">
                    <div class="text-center font-medium py-4">
                        <span>{{ 'common.list_empty' | translate }}</span>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="{{ 'excerise.create_title' | translate }}"
    [(visible)]="isShowModalCreate"
    [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false">
    <div class="border-top-1 border-bottom-1 surface-border mb-4 py-4">
        <div class="flex flex-column gap-2 mb-3">
            <label htmlFor="name" class="font-semibold required">
                Tiêu đề
            </label>
            <input pInputText id="name" [(ngModel)]="modalData.name"
                [ngClass]="{'ng-invalid ng-dirty': modalData.nameInvalid}" />
        </div>

        <div class="flex flex-column gap-2 mb-3">
            <label htmlFor="description" class="font-semibold">
                Mô tả
            </label>

            <textarea rows="2" pInputTextarea id="description"
                [(ngModel)]="modalData.description">
            </textarea>
        </div>
    </div>
    <div class="p-dialog-footer p-0">
        <button pButton pRipple label="{{ 'common.cancel' | translate }}"
            icon="pi pi-times" class="p-button-text"
            (click)="isShowModalCreate = false">
        </button>
        <button pButton pRipple label="{{ 'common.save' | translate }}"
            icon="pi pi-check" class=""
            (click)="createExercise()">
        </button>
    </div>
</p-dialog>