<div class="page-card card flex-column"
    [spinner]="isLoading.value"
    [ngClass]="{'hidden': viewMode !== 'information'}">
    <div class="flex justify-content-between align-items-center pb-4">
        <h5 class="mb-0">
            {{ exerciseName }}
        </h5>
        <div>
            <button *ngIf="viewMode !== 'do-exercise'"
                pButton pRipple class="mr-3"
                [label]="isCompleted() ? 'Hiển thị bài tập' : 'Làm bài tập'"
                (click)="changeMode('do-exercise')">
            </button>

            <button pButton pRipple
                label="{{ 'common.close' | translate }}"
                class="p-button-secondary p-button-outlined"
                (click)="onClickCloseBtn()">
            </button>
        </div>
    </div>
    <div>
        <div *ngIf="record"
            class="grid mt-1">
            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Môn học
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    {{ record.getFormattedValue('subject') }}
                </div>
            </div>
            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Bài học
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    {{ record.getFormattedValue('lesson') }}
                </div>
            </div>
            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6 surface-ground">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Lớp học
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    {{ record.getFormattedValue('grade') }}
                </div>
            </div>
            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6 surface-ground">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Học kỳ
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    {{ record.getFormattedValue('semester') }}
                </div>
            </div>

            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Kết quả
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    {{ displayResult() }}
                </div>
            </div>
            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Trạng thái
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    <p-tag
                        [severity]="record.getFormattedValue('statusSeverity')"
                        [value]="record.getFormattedValue('status')">
                    </p-tag>
                </div>
            </div>
            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6 surface-ground">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Ngày giao
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    {{ record.getFormattedValue('startDate') }}
                </div>
            </div>
            <div class="flex align-items-center py-3 px-2 border-top-1 surface-border col-6 surface-ground">
                <div class="text-600 w-6 md:w-2 font-medium">
                    Hạn làm bài
                </div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    {{ record.getFormattedValue('endDate') }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-nogutter"
    [spinner]="isLoading.value"
    [ngClass]="{'hidden': viewMode !== 'do-exercise'}">
    <div class="col-8 pr-4">
        <div class="page-card card flex flex-column">
            <div class="border-bottom-1 surface-border">
                <h5 class="font-bold">
                    {{ exerciseName }} - Câu {{ currentQuestion()?.no }}
                </h5>
            </div>
            <div class="flex-grow-1 pt-4">
                <lms-question-view #questionView
                    *ngIf="currentQuestion()"
                    [questionPrefix]="currentQuestion().prefix"
                    [questionLabel]="currentQuestion().name"
                    [questionType]="currentQuestion().type"
                    [questionExplain]="currentQuestion().explain"
                    [listAnswers]="currentQuestion().answers"
                    [trueAnswer]="currentQuestion().trueAnswer"
                    [(value)]="currentQuestion().answer"
                    [showExplain]="currentQuestion().status !== QuestionItemStatus.NotComplete"
                    [showResult]="currentQuestion().status !== QuestionItemStatus.NotComplete"
                    class="mb-3">
                </lms-question-view>
            </div>
            <div *ngIf="showSkipBtn() || showSaveBtn() || showContinueBtn()"
                class="flex justify-content-between pt-3 border-top-1 surface-border">
                <div>
                    <button *ngIf="showSkipBtn()"
                        pButton pRipple label="Bỏ qua"
                        class="p-button-secondary p-button-outlined"
                        (click)="nextQuestion()">
                    </button>
                </div>
                <div>
                    <button *ngIf="showSaveBtn()"
                        pButton pRipple label="Xác nhận"
                        (click)="updateResult()">
                    </button>
                    <button *ngIf="showContinueBtn()"
                        pButton pRipple label="Tiếp tục"
                        (click)="nextQuestion()">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="page-card card flex flex-column">
            <div class="flex justify-content-between align-items-baseline">
                <h5>Thời gian làm bài</h5>
                <p class="text-lg">
                    {{ timeCounter.label() }}
                </p>
            </div>
            <div class="flex-grow-1">
                <div class="surface-border border-top-1 border-bottom-1 py-4">
                    <h5>Câu hỏi</h5>
                    <div class="flex flex-wrap gap-3 justify-content-center">
                        <button *ngFor="let q of listQuestions; let i = index" pButton pRipple
                            [label]="i + 1 + ''"
                            class="p-button-rounded w-3rem h-3rem p-0"
                            [ngClass]="{
                                'p-button-raised font-bold': currentQuestionIndex() === i,
                                'p-button-success': q.status === QuestionItemStatus.Pass,
                                'p-button-danger': q.status === QuestionItemStatus.Failed,
                                'p-button-secondary p-button-outlined': q.status === QuestionItemStatus.NotComplete
                            }"
                            (click)="goToQuestion(q)">
                        </button>
                    </div>
                </div>
                <div class="mt-4">
                    <h5>Kết quả</h5>
                    <ul class="list-none p-0 m-0">
                        <li
                            class="flex justify-content-between align-items-center py-3 px-2 border-top-1 surface-border">
                            <div class="text-500 font-medium">
                                Tổng cộng
                            </div>
                            <div class="flex justify-content-end font-bold">
                                {{ summary().total }}
                            </div>
                        </li>
                        <li
                            class="flex justify-content-between align-items-center py-3 px-2 border-top-1 surface-border">
                            <div class="text-500 font-medium">
                                Chưa làm
                            </div>
                            <div class=" flex justify-content-end font-bold">
                                {{ summary().notComplete }}
                            </div>
                        </li>
                        <li
                            class="flex justify-content-between align-items-center py-3 px-2 border-top-1 surface-border">
                            <div class="text-500 font-medium">
                                Đúng
                            </div>
                            <div class=" flex justify-content-end font-bold text-green-600">
                                {{ summary().pass }}
                            </div>
                        </li>
                        <li
                            class="flex justify-content-between align-items-center py-3 px-2 border-top-1 surface-border">
                            <div class="text-500 font-medium ">
                                Sai
                            </div>
                            <div class=" flex justify-content-end font-bold text-red-500">
                                {{ summary().fail }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="viewMode !== 'information'"
                class="flex justify-content-end pt-3 border-top-1 surface-border">
                <button pButton pRipple
                    [label]="isCompleted() ? 'Quay lại' : 'Tạm dừng'"
                    (click)="changeMode('information')">
                </button>
            </div>
        </div>
    </div>
</div>